<app-navbar></app-navbar>





 <!-- -->
<section class="slider_section">
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/caro2.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/caro3.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/caro2.png" class="d-block w-100" alt="">
        </div>
      </div>
    </div>


    &nbsp;
    &nbsp;
<div class="container text-center">
   <!-- Second Row [Team] -->
   <h2 class="font-weight-bold mb-2">Nuestro Equipo</h2>
   <p class="font-italic text-muted mb-4">Con un equipo apasionado y comprometido, estamos aquí para brindarte el mejor servicio y soluciones adaptadas a tus necesidades..</p>
 
   <div class="row justify-content-center pb-5 mb-4">
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
       <!-- Card-->
       <div class="card shadow-sm border-0 rounded">
         <div class="card-body p-0">
           <img src="/assets/images/ceo.png" alt="" class="w-100 card-img-top">
           <div class="p-4">
             <h5 class="mb-0">John Doe</h5>
             <p class="small text-muted">CEO - Consultant</p>
           
           </div>
         </div>
       </div>
     </div>
 
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
       <!-- Card-->
       <div class="card shadow-sm border-0 rounded">
         <div class="card-body p-0">
           <img src="https://bootstrapious.com/i/snippets/sn-cards/profile-2_ujssbj.jpg" alt="" class="w-100 card-img-top">
           <div class="p-4">
             <h5 class="mb-0">Jane Smith</h5>
             <p class="small text-muted">CTO </p>
         
           </div>
         </div>
       </div>
     </div>
 
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
       <!-- Card-->
       <div class="card shadow-sm border-0 rounded">
         <div class="card-body p-0">
           <img src="https://bootstrapious.com/i/snippets/sn-cards/profile-3_ybnq8v.jpg" alt="" class="w-100 card-img-top">
           <div class="p-4">
             <h5 class="mb-0">Michael Johnson</h5>
             <p class="small text-muted">COO - Designer</p>
           
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>


















<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
   
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="#!">La Esquinita</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->